div.title, div.content {
}

div#saldo {
}

div.title {
	height: 35px;
	text-align: center;
	color: white;
	font-size: 25pt;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: rgba(77, 57, 42, 1);
	position: fixed;
	width: 100%;
}
/*div.keyboard {
	position: absolute;
	width: 40%;
	right: 20px;
	top: 55px;
	padding: 10px;
	background: rgba(77, 57, 42, .5);
	display: block;
	float: left;
}*/

div.keyboard {
	width: 100%;
	background: rgba(77, 57, 42, .5);
	padding: 10px;
	display: block;
	bottom: 10px;
}

table#keyboard td{
	height: 50px;
}

div#keyboard tbody {
	width: 100%;
}

div.title a.button {
	margin: 5px 10px 5px 10px;
	height: 45px;
	width: 150px;
	background-color: rgba(159, 145, 132, 0.9);
	padding: 0;
	float: left;
	font-size: 30px;

}

div.popup {
	position: fixed;
	background-color: rgba(77, 57, 42, 0.9);
	width: 100%;
	margin: auto;
	height: auto;
	top: 20%;
	font-size: 20pt;
	text-align: center;
	opacity: 0;
	transition: opacity 0.1s ease;
}

div.popup p {
	background-color: rgba(106, 86, 71, 0.75);
	padding: 5px;

}

div.popup h1{
	color: white;
	font-weight: normal;
	margin: 0;
	font-size: 30pt;
	font-family: 'Fantasque Sans Mono';
}

div.footer {
	height: 30px;
	text-align: center;
	color: white;
	font-size: 14pt;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: rgba(77, 57, 42, 1);
	position: fixed;
	bottom: 0px;
	color: rgb(159, 145, 132);
}

div.footer a{
	color: rgb(159, 145, 132);
}

div.content {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 16pt;

}

input[type="file"],  input[type="password"] {
	border: none;
	height: 35px;
	font-size: 20pt;
	background-color: rgb(159, 145, 132);
	color: rgb(106, 86, 71);
	padding-bottom: 2px;
}
button,
select {
	height: 35px;
	font-size: 20pt;
}

input[type="text"] {
	border: none;
	height: 35px;
	font-size: 20pt;
	background-color: rgb(159, 145, 132);
	color: rgb(106, 86, 71);
	padding-bottom: 2px;
}

input[type="checkbox"] {
	height: 35px;
	width: 35px;
	background-color: rgb(159, 145, 132);
	border-bottom: 1px solid rgb(36, 27, 22);
	vertical-align:middle;
}

a{
	color: rgb(36, 27, 22);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#userlist {
	width: 100%;
	padding: none;
}

div#products {
	margin-right: 20px;
	padding: none;
	margin-bottom: 10px;
}

a.username,
a.product {
	border-bottom: 1px solid rgb(36, 27, 22);
	/*height: 38px;*/
	height: auto;
	font-size: 20pt;
	padding-top:4px;
	margin-top: 2px;
	overflow: hidden;
	width: 100%;
	display: block;
}

a.username:hover,
a.product:hover {
	text-decoration: none;
}

a.username{
	width: auto;
	height: auto;
	overflow: hidden;
}


a.username:active,
a.product:active {
	background-color: rgb(159, 145, 132);
	color: rgb(106, 86, 71);
}

body {
	font-family: 'Fantasque Sans Mono';
	margin: 0;
	padding: 0;
	color: rgb(36, 27, 22);
	height: 100%;
	background-image: url('background.png');
	background-attachment: fixed;
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center center;
}

div.wrapper {
	background-color: rgba(106, 86, 71, 0.75);
	width: 100%;
	min-height: 100%;
	position: absolute;
}

table.code {
	width: 100%;
}

table.code tr td,
table.code tr th {
	height: 100%;
	background-color: rgba(77, 57, 42, 0.9);
	color: white;
	font-size: 30pt;
	text-align: center;
}

table.code tr td:active,
table.code tr th:active,
table.code tr td:hover,
table.code tr th:hover {
	background-color: rgb(159, 145, 132);
	color: rgb(106, 86, 71);
}

div.codedisplay {
	text-align: center;
	height: auto;
	display: block;
	margin-bottom: 20px;
	overflow:auto;
}

div.codedisplay div.wrapper2 {
	margin: auto;
	display: block;
	height: 74px;
	overflow:auto;
	width: 195px;
}

div#userlist a:hover {
	text-decoration: none;
}

div#bar{
	background-color: rgba(77, 57, 42, 0.9);
	height: 35px;
	width: 0%;
	text-align: center;
	color: white;
	padding-top: 5px;
}

div#progress {
	height: 40px;
	width: 100%;
	background-color: rgb(159, 145, 132);
	padding: 2px;
	transition: width 0.1s;

}

div.awrapper {
	width: 50%;
	float: left;
	margin: 0;
}

div.buttonswrapper {
	height: 55px;
	width: 100%;
}

div#products {
	display: block;
}

a.button {
	background-color: rgba(77, 57, 42, 0.9);
	padding: 10px;
	display: block;
	text-align: center;
	margin: 10px;
	margin-top: 0;
	color: rgb(159, 145, 132);

}

a.button:hover,
a.button:active {
	 background-color: rgba(159, 145, 132, 0.9);
	text-decoration: none;
	color: rgb(106, 86, 71);
}

div.codedisplay div.char{
	background-color: rgb(159, 145, 132);
	color: rgb(106, 86, 71);
	display: block;
	height: 50px;
	float: left;
	padding:10px;
	width: 40px;
	font-size:40pt;
	margin-left: 5px;
	transition: background-color 0.2s;
	transition: color 0.2s;
}
